body {
    background-color: rgba(50, 145, 204, 0.817);
    margin: 0px
}

nav a {
   margin-top: 5px;
    padding: 2px;
    font-size: 30px;
    text-decoration: dotted;
    color:rgba(186, 154, 217, 0.86)
}

.COCACOLA { 
    font-style: italic;
}

.img1 {
    width: 50%;
}

.centro {
    text-align: center;
}
