body { 
    background-color: lightcyan; 
    margin: 5px;
}

nav a { 
    margin-top: 5px;
    padding: 6px;
    font-size: larger;
    text-decoration: lightslategray;
    color: lavender;
    display: flex;
    justify-content: center;
   
}
h1 {
    color: rgb(179, 255, 255).;
}
.COCACOLA { 
    font-style: oblique;
}

.img1 {
 width: 70%;
}

.centro {
    text-align: center;
}